<img src="../../assets/images/home_orange.png" #img_home_orange style="display:none"/>
<img src="../../assets/images/home_green.png" #img_home_green style="display:none"/>
<!--&lt;!&ndash;<div class="panel panel-default">&ndash;&gt;-->
  <!--<div  #panelBody class="power-panel panel-body">-->
    <!--<div style="display: inline-block;" (window:resize)="onResize($event)">-->
      <canvas #powerInfoGraphic width="300" height="150"></canvas>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
