<div class="panel panel-default">
  <div class=" power-panel panel-body">
    <div style="font-family: 'Roboto', sans-serif; font-size: 24px; font-weight:bold;">

      <!--<div *ngIf="!isLive" class="inline text-right" style="font-size: 12px; color:red;">Even geen data beschikbaar</div>-->
      <!--<div *ngIf="isLive" class="inline text-right" style="font-size: 12px; color:green;">Live data</div>-->
      <!--<ul class="list-inline text-center">-->
        <!--<li><div class="inline">Power<sub>(today @ 5 min interval)</sub></div></li>-->
        <!--<li><div class="inline" style="font-size: 18px;"></div></li>-->
      <!--</ul>-->
    </div>

    <!--<div *ngIf="isLive">-->
      <!--<div style="display: block;">-->
        <!--<canvas baseChart width="auto" height="80%"-->
                <!--[datasets]="lineChartData"-->
                <!--[title]="lineChartTitle"-->
                <!--[labels]="lineChartLabels"-->
                <!--[options]="lineChartOptions"-->
                <!--[colors]="lineChartColors"-->
                <!--[legend]="lineChartLegend"-->
                <!--[chartType]="lineChartType"-->
                <!--(chartHover)="chartHovered($event)"-->
                <!--(chartClick)="chartClicked($event)">-->
        <!--</canvas>-->
      <!--</div>-->
      <!--<app-daily-power-graph [series]="graphdata"></app-daily-power-graph>-->
      <canvas #canvas width="auto" height="80%"></canvas>

    <!--</div>-->
    <div *ngIf="!isLive" class="inline text-right" style="font-size: 10px; color:red;">Even geen data beschikbaar</div>
    <div *ngIf="isLive" class="inline text-right" style="font-size: 10px; color:green;">Live data ({{lastUpdate}})</div>
  </div>
</div>
