<div class="panel panel-default">
  <div class=" power-panel panel-body">
    <div style="font-family: 'Roboto', sans-serif; font-size: 14px;">

      <!--<div class="col-xs-8">-->
        <p>Logger '<em>{{logger_description}}</em>' met signature <em>{{logger_signature}}</em></p>
        <p>Slimme meter <em>{{mfr}}</em> versie: {{version}}, id: {{id}}</p>
        <!--<dt class="col-xs-2">Huidig tarief</dt>-->
        <!--<dd class="col-xs-6">{{current_tariff}} (Piek)</dd>-->
        <!--<dt class="col-xs-2">Aantal storingen</dt>-->
        <!--<dd class="col-xs-6">{{power_failures}} kortdurend, {{long_power_failures}} gedurende lange tijd </dd>-->
      <!--</div>-->


      <div *ngIf="!isLive" class="inline text-right" style="font-size: 10px; color:red;">Even geen data beschikbaar</div>
      <div *ngIf="isLive" class="inline text-right" style="font-size: 10px; color:green;">Live data ({{lastupdate}})</div>

    </div>
  </div>
</div>
