<div class="navbar navbar-default" role="">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/dkroeske/emon-server" style="padding: 10px;">
        <img src="../../assets/images/GitHub-Mark-Light-64px.png" style="height:100%; display: inline-block;">
        <span style="display: inline-block; font-family: 'Roboto', sans-serif; font-weight:400; color: white; ">Code your own</span>
      </a>
    </div>

    <div class="nav navbar-nav navbar-right">
    G'morgen {{name}}
    </div>
  </div>
</div>


<div class="container">

  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">Logger with id: 3 (Thuis)</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">

          <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
            <!--<app-emon-actual [powerSource]=0></app-emon-actual>-->
          <!--</div>-->
          <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
            <!--<app-emon-actual [powerSource]=1></app-emon-actual>-->
          <!--</div>-->
          <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
            <!--<app-emon-actual [powerSource]=2></app-emon-actual>-->
          <!--</div>-->
          <!--<div class="col-xs-12 col-sm-6 col-md-3">-->
            <!--<app-emon-actual [powerSource]=3></app-emon-actual>-->
          <!--</div>-->
          <!--<div class="col-xs-12">-->
            <!--<app-daily-power></app-daily-power>-->
          <!--</div>-->
        </div>

      </div>
    </div>
  </div>


</div>


