<div class="navbar navbar-dark bg-inverse navbar-fixed-top" role="login">
<!--<div class="navbar navbar-default" role="login" xmlns="http://www.w3.org/1999/html">-->
  <div class="container-fluid">

    <!--Brand-->
    <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/dkroeske/emon-server" style="padding: 10px;">
          <img src="../../assets/images/GitHub-Mark-Light-64px.png" style="height:100%; display: inline-block;">
          <span style="display: inline-block; font-family: 'Roboto', sans-serif; font-weight:400; color: white; ">Code your own</span>
        </a>
    </div>

    <div class="nav navbar-nav navbar-right">
      <form class="navbar-form " [formGroup]="loginForm">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" placeholder="Gebruiker" formControlName="username"[formControl]="loginForm.controls['username']">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" class="form-control" formControlName="password" placeholder="Wachtwoord" [formControl]="loginForm.controls['password']">
        </div>

        <div class="btn-group" dropdown >
          <button type="button" class="btn btn-default " (click)="login(loginForm.value)">Log in</button>
          <button type="button"  dropdownToggle class="btn btn-default  dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
          </button>

          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="register()">Registreren</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="requestPassword()">Wachtwoord vergeten?</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
