<div class="container">

  <div class="row">
    <!--<div class="col-md-6">-->

    <div style="display: block;">
      <canvas baseChart width="auto" height="auto"
              [datasets]="lineChartData"
              [title]="lineChartTitle"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <button (click)="getData()">GetData</button>
    <button (click)="getTest()">GetTest</button>

  </div>
</div>
