<div class="container">
  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Registatie</div>
        <div style="float:right; font-size: 80%; position: relative; top:-10px;"><a href="#">Wachtwoord vergeten?</a></div>
      </div>
      <div style="padding-top:30px" class="panel-body">
        <form [formGroup]="userRegisterForm" class="form-horizontal" role="form">

        <div class="input-group" style="margin-bottom: 25px;">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" class="form-control" formControlName="username" placeholder="Gebruikersnaam" [formControl]="userRegisterForm.controls['username']">
        </div>

        <div class="input-group" style="margin-bottom: 25px;">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <input type="text" class="form-control" formControlName="email" placeholder="Email" [formControl]="userRegisterForm.controls['email']">
        </div>

        <div class="input-group" style="margin-bottom: 25px;">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" class="form-control" formControlName="password" placeholder="Wachtwoord" [formControl]="userRegisterForm.controls['password']">
        </div>

        <div class="col-sm-12 controls">
          <button type="button" [disabled]="!userRegisterForm.valid" class="btn btn-primary" (click)="onSubmit(userRegisterForm.value)">Registeer</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

