<div class="container">
  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Nieuw wachtwoord aanvragen</div>
      </div>
      <div style="padding-top:30px" class="panel-body">

        <form [formGroup]="requestPasswordForm" (ngSubmit)="onSubmit($event)" class="form-horizontal" role="form">

          <div class="input-group" style="margin-bottom: 25px;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" [formControl]="requestPasswordForm.controls['email']">
          </div>

          <div class="col-sm-12 controls">
            <button type="submit" [disabled]="!requestPasswordForm.valid" class="btn btn-default">Verzend</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
