<div class="container">
  <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top: 50px">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Nieuw wachtwoord</div>
      </div>
      <div style="padding-top:30px" class="panel-body">
        <form [formGroup]="newPasswordForm" class="form-horizontal" role="form">

          <div class="input-group" style="margin-bottom: 25px;">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" formControlName="password" placeholder="Wachtwoord" [formControl]="newPasswordForm.controls['password']">
          </div>

          <div class="col-sm-12 controls">
            <button type="button" [disabled]="!newPasswordForm.valid" class="btn btn-primary" (click)="onSubmit(newPasswordForm.value)">Stel in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
