<!--<div class="navbar navbar-default" role="">-->

  <div class="container">
    <div class="navbar navbar-default" role="">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/dkroeske/emon-server" style="padding: 10px;">
          <img src="../../assets/images/GitHub-Mark-Light-64px.png" style="height:100%; display: inline-block;">
          <span style="display: inline-block; font-family: 'Roboto', sans-serif; font-weight:400; color: white; ">Code your own</span>
        </a>
      </div>
      <div class="nav navbar-nav navbar-right">
        G'morgen {{name}}
      </div>
    </div>

    <!--<div class="col-xs-12"><app-power-infographic></app-power-infographic></div>-->

    <accordion>
      <div *ngFor="let logger of loggers">

        <accordion-group #group [isOpen]="true">
          <div accordion-heading>
            {{logger.description}}
            <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-8"><app-info></app-info></div>
          <div class="col-xs-12 col-sm-4 col-md-4"><app-power-infographic></app-power-infographic></div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <app-emon-live [powerSource]=0></app-emon-live>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <app-emon-live [powerSource]=1></app-emon-live>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <app-emon-live [powerSource]=2></app-emon-live>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <app-emon-live [powerSource]=3></app-emon-live>
          </div>

          <div class="col-xs-12">
            <app-daily-power></app-daily-power>
          </div>

        </accordion-group>
      </div>
    </accordion>

</div>

