.panel {
  border: 0px dotted grey;
}

[class*='col-'] {
  border: 0px solid grey;
}

.row {
  font-family: 'Roboto', sans-serif; font-size: 20px; font-weight:normal;
}

.row .ptext{
  font-size: 14px; color: darkgray;
}

.row .pdelta{
  font-size: 14px; color: darkgray;
}

.row .pvalue{
  font-size: 20px; color: black; font-weight: bold;
}

.row .isalive {
  font-size: 10px; color:green; text-align: left; margin-top: 3px;
}

.row .isdead {
  font-size: 10px; color:red; text-align: left; margin-top: 3px;
}



