<div class="panel panel-default">
  <div class="power-panel panel-body">
    <!--<div style="font-family: 'Roboto', sans-serif; font-size: 18px; font-weight:normal;">-->
    <div>

      <div class="row">

        <div class="col-xs-12">
          <div class="ptext">
            <div *ngIf="[powerSource] == 0">P<sub>opgenomen</sub></div>
            <div *ngIf="[powerSource] == 1">P<sub>opgewekt</sub></div>
            <div *ngIf="[powerSource] == 2">S<sub>0</sub></div>
            <div *ngIf="[powerSource] == 3">S<sub>1</sub></div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="pvalue">
            {{actualPower}} Watt <div style="display: inline;" class="pdelta">{{delta}}</div>
          </div>
        </div>

        <div class="col-xs-12">
          <app-livepowergraph [series]="graphdata"></app-livepowergraph>
        </div>

        <div *ngIf="!isLive">
          <div class="col-xs-12 isdead">
            <p>Even geen data beschikbaar</p>
          </div>
        </div>
        <div *ngIf="isLive">
          <div class="col-xs-12 isalive">
            <p>live data ({{lastUpdate}})</p>
          </div>
        </div>
      </div>
    </div>
</div>

<!--<div class="panel panel-default">-->
  <!--<div class=" power-panel panel-body">-->
    <!--<div style="font-family: 'Roboto', sans-serif; font-size: 18px; font-weight:normal;">-->
      <!--<ul class="list-inline text-center">-->

        <!--<li><div class="inline">-->
          <!--<div *ngIf="[powerSource] == 0">P<sub>opgenomen</sub> :</div>-->
          <!--<div *ngIf="[powerSource] == 1">P<sub>opgewekt</sub> :</div>-->
          <!--<div *ngIf="[powerSource] == 2">S<sub>0</sub> :</div>-->
          <!--<div *ngIf="[powerSource] == 3">S<sub>1</sub> :</div>-->
        <!--</div></li>-->

        <!--<li><div class="inline" style="font-weight:bold;">{{actualPower}}</div></li>-->
        <!--<li><div class="inline" style="font-size: 14px;">Watt</div></li>-->
      <!--</ul>-->
      <!--<br />-->
      <!--<div *ngIf="isLive">-->
        <!--<app-livepowergraph [series]="graphdata"></app-livepowergraph>-->
      <!--</div>-->
      <!--<div *ngIf="!isLive" class="inline text-right" style="font-size: 10px; color:red;">Even geen data beschikbaar</div>-->
      <!--<div *ngIf="isLive" class="inline text-right" style="font-size: 10px; color:green;">Live data ({{lastUpdate}})</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



